#app, #timerContainer {
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000000;
}

#countdown, #timerText {
    margin-top: 20px;
    font-size: 20px;
}

button, #checkButton {
    padding: 10px;
    cursor: pointer;
}

#checkButton {
    padding: 10px 20px;
    font-size: 16px;
}

#timerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.green {
    background-color: limegreen;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.red {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
