#app {
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000000;
}

button {
    padding: 10px;
    cursor: pointer;
}

#countdown {
    margin-top: 20px;
    font-size: 20px;
}
